H4
    | Is this enough!!!!

.row
    .col-md-4
        cms-menu(viewMode="Content.selectedNode.MoreMenu1.viewMode",nodes="MenuNodes(Content.selectedNode,'MoreMenu1')")
    .col-md-8
        | content content content content content content content content content content content content content content content content content